<app-container>
	<h1>Minha empresa</h1>
	<div>
		<button routerLink="/cadastrar-empresa">
			<< Voltar
		</button>
	</div>
	<form>
	  <label for="companyName">Nome da Empresa</label>
	  <!-- Esta diretiva Angular [(ngModel)] realiza a vinculação bidirecional entre o campo de entrada e a propriedade companyName -->
	  <input disabled id="companyName" [(ngModel)]="company.companyName" name="companyName" /> 

	  <label for="cpnj">CNPJ</label>
	  <input disabled id="cpnj" [(ngModel)]="company.cpnj" name="cpnj" type="number" />

	  <label for="cep">Cep</label>
	  <input disabled id="cep" [(ngModel)]="company.cep" name="cep" type="number" />

	  <label for="address">Endereço</label>
	  <input disabled id="address" [(ngModel)]="company.address" name="address" />

	  <label for="neighborhood">Bairro</label>
	  <input disabled id="neighborhood" [(ngModel)]="company.neighborhood" name="neighborhood" />

	  <label for="mobile">Celular</label>
	  <input disabled id="mobile" [(ngModel)]="company.mobile" name="mobile" type="number" />

	  <label for="adm">Administrador</label>
	  <input disabled id="adm" [(ngModel)]="company.adm" name="adm" />

	  <label for="cpf">CPF</label>
	  <input disabled id="cpf" [(ngModel)]="company.cpf" name="cpf" type="number" />

	  <label for="email">E-mail</label>
	  <input disabled id="email" [(ngModel)]="company.email" name="email" type="email" />
	</form>
</app-container>
