<app-container>
	<div>
		<button>
			<< Voltar
		</button>
	</div>
	<label for="companyName">Nome da Empresa</label>
	<input type="text" id="companyName" placeholder="" >
	<label for="cpnj">CNPJ</label>
	<input type="text" id="cpnj" placeholder="" >
	<label for="cep">Cep</label>
	<input type="text" id="cep" placeholder="" >
	<label for="address">Endereço</label>
	<input type="text" id="address" placeholder="" >
	<label for="neighborhood">Bairro</label>
	<input type="text" id="neighborhood" placeholder="" >
	<label for="complement">complemento</label>
	<input type="text" id="complement" placeholder="" >
	<label for="mobile">Celular</label>
	<input type="text" id="mobile" placeholder="" >
	<label for="adm">Administrador</label>
	<input type="text" id="adm" placeholder="" >
	<label for="cpf">CPF</label>
	<input type="text" id="cpf" placeholder="" >
	<label for="email">E-mail</label>
	<input type="text" id="email" placeholder="" >
</app-container>
