<app-container>
	<form action="">
		<label for="companyType">Tipo de empresa</label>
		<input type="text" id="companyType" placeholder="">
		<label for="companyName">Nome da Empresa*</label>
		<input type="text" id="companyName" placeholder="">
		<label for="cpng">CNPJ</label>
		<input type="text" id="cpng" placeholder="">
		<label for="cep">Cep</label>
		<input type="text" id="cep" placeholder="">
		<label for="address">Endereço</label>
		<input type="text" id="address" placeholder="">
		<label for="neighborhood">Bairro</label>
		<input type="text" id="neighborhood" placeholder="">
		<div>
			<label for="state">Estado</label>
			<select type="text" id="state"></select>
		</div>
		<div>
			<label for="city">Cidade</label>
			<select type="text" id="city"></select>
		</div>
		<br>	
		<label for="complement">complemento</label>
		<input type="text" id="complement" placeholder="">
		<label for="mobile">Celular*</label>
		<input type="text" id="mobile" placeholder="">
		<label for="adm">administrador*</label>
		<input type="text" id="adm" placeholder="">
		<label for="cpf">CPF</label>
		<input type="text" id="cpf" placeholder="">
		<label for="email">E-mail*</label>
		<input type="text" id="email" placeholder="">

		<section class="buttons">
			<button type="button" class="button">
				Cancelar
			</button>
			<button type="button" class="button">
				Salvar
			</button>
		</section>

	</form>
</app-container>