header .title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .title img {
  align-self: center;
  margin-bottom: 56px;
}

header .title div {
  display: flex;
  align-self: flex-start;
}

header .title img.seta {
  margin: 0 8px;
}

header .title a {
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
  color: #0D6EFD;
}

header .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

h1 {
  font-family: 'Montserrat';
  font-size: 26px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: center;
  color: #0D6EFD;
  margin: 12px 0;
}

input, textarea {
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #CED4DA;
  width: 100%;
  margin: 8px 0 12px 0;
  padding: 6px 12px;
  font-family: 'Montserrat';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

input#redes {
  border-radius: 0 4px 4px 0;
  padding: 0 12px;
}

input#aniversario {
  width: 224px;
  display: block;
}

label[for="redes"] {
  display: block;
}

textarea {
  height: 84px;
}

label {
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0;
  text-align: left;
}

input::placeholder, textarea::placeholder {
  font-family: 'Montserrat';
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0;
  text-align: left;
}

input:focus {
  outline: none;
}

.input-container {
  display: flex;
  align-items: stretch;
}

.buttons {
  display: flex;
  justify-content: space-between;
}