<app-container>
	<header>
		<section class="title">
			Meu RH 360
		</section>
		<section class="contact">
			<img src="assets/adicionar-contato.png" alt="">
			<h1>Criar uma conta profissional</h1>
			<div>Preencha seus dados para ter acesso</div>
		</section>

		<form action="">
			<label for="nome">Nome</label>
			<input type="text" id="nome" placeholder="Digite Nome">
			<label for="Email">Email</label>
			<input type="text" id="email" placeholder="Digite Email">
			<label for="senha">Senha</label>
			<input type="text" id="telefone" placeholder="Senha">
			<label for="senha">Confirmação de Senha</label>
			<input type="text" id="repita" placeholder="Repita">
			<div class="input-container">
				<span class=""><input type="checkbox" name="termo" ></span>	 Eu aceito os Termos de uso e o Contrato		
			</div>

			<section class="buttons">
				<button type="button" class="button">
					Criar Conta
				</button>
			</section>

		</form>
	</header>
</app-container>