<app-container>
	<header>
		<section class="title">
			Meu RH 360
		</section>
		<section class="contact">
			<img src="assets/adicionar-contato.png" alt="">
			<h1>Criar uma conta profissional</h1>
			<div>Preencha seus dados para ter acesso</div>
		</section>

		<form [formGroup]="accountForm" (ngSubmit)="sendForm()">
			<label for="name">Nome</label>
			<input type="text" id="name" placeholder="Digite Nome" formControlName="name">
			<label for="email">Email</label>
			<input type="text" id="email" placeholder="Digite Email" formControlName="email">
			<label for="psw">Senha</label>
			<input type="text" id="psw" placeholder="psw" formControlName="psw">
			<label for="senha">Confirmação de Senha</label>
			<input type="text" id="pswAgain" placeholder="pswAgain" formControlName="pswAgain">
			<div class="input-container">
				<span class=""><input type="checkbox" name="termo" ></span>	 Eu aceito os Termos de uso e o Contrato		
			</div>

			<section class="buttons">
				<button type="submit" class="button">
					Criar Conta
				</button>
			</section>

		</form>
	</header>
</app-container>